body{
  font-family: 'Titillium Web', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
  font-family: 'Titillium Web', sans-serif;
}
header{
    background: #87509c;
}
hr {
    clear: both;
    max-width: 5rem;
    height: 0;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-top: 0;
    border-right: 0;
    border-bottom: 5px solid rgba(10, 10, 10, 0.21);
    border-left: 0;
}
.top-bar, .top-bar ul {
    background-color: #87509c;
}
.dropdown.menu a {
    padding: 0.7rem 1rem;
    color: white;
    text-transform: uppercase;
    transition: all 0.5s;
}
.dropdown.menu a:hover {
      background: #643a79;
}
.container_sections{
    width: 100%;
    padding: 73px;
    padding-top: 100px;
    padding-bottom: 143px;
    text-align: center;
}
.h1ligtht{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 6px;
}
.h1dark{
    color: #3c4761;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 6px;
}
.plight{
  color: white;
}
.pdark{
  color: #3c4761;
}
#welcome {
    background: #87509c;
}
#services{
    background: #17c2a4;
}
#team{
  background: #e7f1f8;
}
#skills{
  background: #ffffff;
}
#portfolio{
  background: #ffdd99;
}
#testimonials {
    background: #d74680;
    padding-bottom: 25px;
}
#contact {
    background: #3c5499;
    padding-bottom: 64px;
}
#welcome p{
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
#welcome .button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 20px 8px 20px;
    width: 263px;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #eb7d4b;
    color: #fefefe;
    transition: all 0.8s;
}
#welcome .button:hover {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 20px 8px 20px;
    width: 263px;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #d26f42;
    color: #fefefe;
}
#services .servicesicons {
    margin-top: 3rem;
}
#services p{
    color: white;
}
#service .cell{
    padding: 30px;
}
#services h2 {
    color: white;
    font-size: 1.3rem;
    margin: 22px;
    letter-spacing: 2px;
    font-weight: bold;
}
#team h2 {
    color: #3c4761;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 9px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}
#team h3{
    color: #48c1e9;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}
#team p {
    color: #535e75;
    padding: 0 20px 0 20px;
}
#team li {
    font-size: inherit;
    list-style: none;
    display: -webkit-inline-box;
}
#team ul {
    margin-left: 1.25rem;
    list-style-type: disc;
    margin: 0 auto;
}
#team .teamicons {
    margin-top: 3rem;
}
#team .brandicons i {
    background: #bdd1df;
    color: white;
    width: 34px;
    height: 34px;
    padding: 9px 9px;
    border-radius: 50%;
    list-style: none;
}
#skills .skillsicons{
    margin-top: 3rem;
}
#skills h2 {
    color: #3c4761;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 9px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}
#portfolio ul {
    margin-left: 1.25rem;
    list-style-type: disc;
    margin: 0 auto;
}
#portfolio li {
    font-size: inherit;
    list-style: none;
    display: -webkit-inline-box;
    background: #ebc985;
    border-radius: 4px;
    padding: 8px 11px;
    margin-bottom: 71px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 4px;
    margin-right: 11px;
    color: #393939;
    transition: all 0.5s;
}
#portfolio li:hover{
  background: white;
}
#portfolio li a {
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    color: #393939;
}
#portfolio h2 {
    color: #3c4761;
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 80px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}
#portfolio .button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    font-family: inherit;
    padding: 20px 8px 20px;
    width: 263px;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #17c2a4;
    color: #fefefe;
    transition: all 0.8s;
}
#portfolio .button:hover {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    font-family: inherit;
    padding: 20px 8px 20px;
    width: 263px;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1aa58c;
    color: #fefefe;
}
#testimonials img{
  display: inline;
}
#testimonials p {
    text-align: center;
    margin-bottom: 54px;
}
#testimonials h2 {
    color: #ffffff;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
.testimonials_content{
  margin-bottom: 80px;
}
#testimonials .text_testimonials p {
    text-align: left;
    font-style: italic;
    margin-bottom: 16px;
}
#testimonials h3 {
    color: #ffdd99;
    font-size: 1rem;
    margin-top: -9px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: bold;
}
#contact p {
    margin-bottom: 74px;
}
#contact [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color']{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: 1px solid #273a71;
    border-radius: 4px;
    background-color: #273a71;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: white;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#contact textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 10.4375rem;
    margin: 0 0 4rem;
    padding: 0.5rem;
    border: 1px solid #273a71;
    border-radius: 4px;
    background-color: #273a71;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: white;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#contact .button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    font-family: inherit;
    padding: 20px 8px 20px;
    width: 263px;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #30bae7;
    color: #fefefe;
    transition: all 0.8s;
}
#contact .button:hover {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    font-family: inherit;
    padding: 20px 8px 20px;
    width: 263px;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #2487a7;
    color: #fefefe;
}
footer{
  background: #344b8e;
}
footer h3 {
    color: white;
    font-size: 1rem;
    margin-top: 0;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    padding: 28px;
    transition: all 0.5s;
}
footer h3:hover {
    color: #48c1e9;
    font-size: 1rem;
    margin-top: 0;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    padding: 28px;
}
